NET "CLK" LOC = B8;
//NET "CLK" LOC = M6;
NET "COLOUR_OUT[0]" LOC = H13;
NET "COLOUR_OUT[1]" LOC = J13;
NET "COLOUR_OUT[2]" LOC = F14;
NET "COLOUR_OUT[3]" LOC = G13;
NET "COLOUR_OUT[4]" LOC = G14;
NET "COLOUR_OUT[5]" LOC = C14;
NET "COLOUR_OUT[6]" LOC = D13;
NET "COLOUR_OUT[7]" LOC = F13;
NET "HS_OUT" LOC = J14;
NET "RESET" LOC = G12;
NET "VS_OUT" LOC = K13;